.btnsForModal {
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 0 auto;
}
.actionForModal {
  display: block;
  background-color: rgb(63, 22, 32, 0.3);
  margin: 5px 15px;
  padding: 10px 25px;
  border-radius: 4px;
  border: 1px solid rgb(63, 22, 32, 0.3);
  color: rgb(244, 203, 204);
  font-size: 20px;
  cursor: pointer;
  &:hover {
    color: whitesmoke;
    border: 1px solid rgb(19, 3, 7);
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}
