.button {
  width: 300px;
  display: block;
  margin: 50px auto;
  padding: 15px 10px;
  border: 1px solid rgb(88, 129, 159);
  border-radius: 4px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  &:hover {
    color: rgb(44, 33, 19);
    border: 1px solid rgb(18, 47, 68);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}
